<nav>
  <ul
    class="flex flex-col md:flex-row sm:flex-row lg:gap-16 md:gap-10 sm:gap-8 font-kufam lg:text-2xl md:text-1xl sm:text-1xl items-center"
  >
    <li>
      <a routerLink="/home"
        ><label>{{ "home" | translate }}</label></a
      >
    </li>
    <li>
      <a routerLink="/shop">{{ "shop" | translate }}</a>
    </li>
    <li>
      <a routerLink="/contact">{{ "contact" | translate }}</a>
    </li>
    <li>
      <button (click)="openSettings()">{{ "language" | translate }}</button>
      <app-language-popup
        *ngIf="isClicked"
        (toggleEvent)="onToggleEvent($event)"
      ></app-language-popup>
    </li>
    <li>
      <a routerLink="/shop-cart">
        <img src="../../../assets//images/Shopping Bag.png" />
      </a>
    </li>
  </ul>
</nav>
